.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
  border-bottom: 1px solid rgb(213, 213, 213);
  background-color: white;
}
.left{
  display: flex;
  width: 37%;
  justify-content: space-between;
}
.right{
  display: flex;
  width: 20%;
  justify-content: space-between;
}